* {
    border: 0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 100%;
}

.hovering {
    background-color: black;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    padding: 3px;
    margin: 3px;
    border: 1px solid black;
}